name: Build PR
on: pull_request
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Jest
        run: npm run test
